{% extends 'base.html' %}

{% block title %}Дашборд студента{% endblock %}

{% block content %}
<h2>Добро пожаловать, {{ user.get_full_name }}!</h2>

<h3>Ваши курсы</h3>
{% if course_stats %}
    <div class="row">
        {% for stat in course_stats %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">{{ stat.course.name }}</h5>
                        <p class="card-text">{{ stat.course.description|truncatewords:20 }}</p>
                        
                        <!-- Отображение прогресса курса -->
    <div>
        <h3>{{ topic.name }}</h3>
        <p>Описание: {{ topic.description }}</p>
        <p>Прогресс: 
            {% if topic.progress %}
                {% if topic.progress.started_reading %}Чтение начато{% endif %}
                {% if topic.progress.test_completed %}Тест пройден с результатом {{ topic.progress.test_score_percentage }}%{% endif %}
            {% else %}
                Нет прогресса
            {% endif %}
        </p>
    </div>
                        <p class="card-text">
                            Завершено тем: {{ stat.completed_topics }} из {{ stat.total_topics }}
                        </p>
                        
                        <!-- Кнопка перехода к деталям курса -->
                        <a href="{% url 'learnsys:course_detail' stat.course.id %}" class="btn btn-primary">Перейти к курсу</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% else %}
    <p>Вы еще не записаны ни на один курс.</p>
    <h2>Психологические тестирования</h2>
    <p>Пройдите психологические тесты, чтобы узнать больше о своих личностных характеристиках.</p>
    <ul>
        <li><a href="{% url 'learnsys:psych_test_list' %}">Просмотреть доступные тесты</a></li>
    </ul>
{% endif %}
{% endblock %}
