<!-- templates/groups/group_detail.html -->

{% extends 'base.html' %}

{% block title %}Группа: {{ group.name }}{% endblock %}

{% block content %}
<h2>Группа: {{ group.name }}</h2>

<h3>Список участников</h3>
{% if members %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ФИО</th>
                <th>Email</th>
                <th>Номер группы</th>
                <th>Дата рождения</th>
                <!-- Добавьте другие столбцы по необходимости -->
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members %}
                <tr>
                    <td>{{ member.user.get_full_name }}</td>
                    <td>{{ member.user.email }}</td>
                    <td>{{ member.user.group_number }}</td>
                    <td>{{ member.user.date_of_birth|date:"d.m.Y" }}</td>
                    <!-- Добавьте другие поля по необходимости -->
                    <td>
                        <a href="{% url 'learnsys:student_detail' pk=member.user.id %}">Подробнее</a> |
                        <a href="{% url 'learnsys:download_student_info' pk=member.user.id %}">Скачать CSV</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>В этой группе пока нет участников.</p>
{% endif %}
{% endblock %}
