{% extends 'base.html' %}

{% block title %}Список учебных групп{% endblock %}

{% block content %}
<h2>Ваши учебные группы</h2>
{% if groups %}
    <ul class="list-group">
        {% for group in groups %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'learnsys:group_detail' group.id %}">{{ group.name }}</a>
                <div>
{% if user.is_authenticated and user|is_instructor:topic.course %}
    <a href="{% url 'learnsys:test_create' topic_id=topic.id %}" class="btn btn-success">Создать тест</a>
{% endif %}
                    <a href="{% url 'learnsys:group_edit' group.id %}" class="btn btn-sm btn-secondary">Редактировать</a>
                    <a href="{% url 'learnsys:group_delete' group.id %}" class="btn btn-sm btn-danger">Удалить</a>
                </div>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>У вас пока нет связанных учебных групп.</p>
{% endif %}
<a href="{% url 'learnsys:group_create' %}" class="btn btn-success mt-3">Создать новую группу</a>
{% endblock %}
