<!-- templates/tests/test_form.html -->

{% extends 'base.html' %}

{% block title %}{% if form.instance.pk %}Редактировать тест{% else %}Создать тест{% endif %}{% endblock %}

{% block content %}
<h2>{% if form.instance.pk %}Редактировать тест для темы "{{ topic.name }}"{% else %}Создать тест для темы "{{ topic.name }}"{% endif %}</h2>
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group">
        {{ form.title.label_tag }}
        {{ form.title }}
        {{ form.title.errors }}
    </div>
    <!-- Button text changes based on whether editing or creating -->
    <button type="submit" class="btn btn-primary">
        {% if form.instance.pk %}Сохранить{% else %}Создать тест{% endif %}
    </button>
</form>
{% endblock %}
